

.errorContainer{
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.errorContainer h3{
    color: gray;
    margin: 20px 0px;
}

.errorContainer a{
    padding: 8px 10px;
    color: white;
    background-color: teal;
    border-radius: 4px;
    text-decoration: none;
}